
</div>
<footer id="social" class="footer-padding">	 			
      	
  <a href="https://www.instagram.com//" target="_blank"><span class="fa-brands fa-instagram social"></span></a>

  <a href="https://twitter.com/" target="_blank"><span class="fa-brands fa-twitter social"></span></a>
  
  <a href ="https://www.linkedin.com/in//" target="_blank"><span class="fa-brands fa-linkedin social"></span></a>
   
  <a href="mailto:raushansharma2701@gmail.com"><span class="fa-solid fa-envelope social"></span> </a>
    
<p>© Copyright Raushan Sharma</p>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</div>
</body>
</html>
