
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
  
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scriblio | a daily Journal site</title>
    <meta charset="utf-8">
   
  <style>
	.hidden{
		display: none;
	}
  </style>
  

   <%- include("resource") -%>
	<div class="nav-container">
		<nav class="navbar navbar-light navbar-expand-lg nav-bar">
		      <a class="navbar-brand" href="" ><div class="logo">Scriblio</div></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>

		      <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav ml-auto">
		            <li class="nav-item">
		                <a class="nav-link" href="/">HOME</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/about">ABOUT US</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="/contact">CONTACT US</a>
		            </li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">
							<label class="switch" title="click to change mode">
							<input type="checkbox" onclick="theme();">
							<span class="slider round"></span>
							</label>
						</a>
					</li>
						<li class="nav-item loggedout">
							<a class="nav-link" href="/login">LOGIN</a>
						</li>
						<li class="nav-item loggedout">
							<a class="nav-link" href="/register">REGISTER</a>
						</li>
					
						<li class="nav-item loggedin hidden">
							<a class="nav-link" href="/logout">LOGOUT</a>
						</li>
						<li class="nav-item loggedin hidden">
							<a class="nav-link profile-icon" href="/users/profile"><img src="/images/profile.png" alt=""></a>
						</li>
					
		        </ul>
		     </div>
	    </nav>
		
	</div>
	<script>
		document.addEventListener("DOMContentLoaded",()=>{
			fetch("/userinfo")
			.then(function(response) {
				if (response.ok) {
				return response.json();
				} else {
				throw new Error('Error: ' + response.status);
				}
			})
			.then(function(data) {
				const loggedin = document.querySelectorAll(".loggedin");
				const loggedout = document.querySelectorAll(".loggedout");
				if(data){
					loggedin.forEach(element => {
						element.classList.toggle("hidden");
					});
					loggedout.forEach(element => {
						element.classList.toggle("hidden");
					});
					
				}
				
				
			})
			.catch((err)=>{
				console.log(err);
			})
		});
	</script>
  <body>
 
