<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/about.css">
<div class="about-container">
      <header>
        <h1 class="page-title">Welcome to Scriblio: A modern publishing platform</h1>
        <h4 class="page-subtitle">Not just read others' blogs, but you can write your own</h4>
      </header>

      <section class="content">
        <h2>About Scriblio</h2>
        <p>
          At Scriblio, we offer a one-of-a-kind platform that brings together individuals from diverse backgrounds, enabling them to delve into a world of captivating blogs and express their ideas and perspectives. Our primary goal is to create an environment that nurtures a vibrant community of both avid readers and aspiring writers.
        </p>
        <p>
          By joining Scriblio, you gain access to a vast array of thought-provoking blogs, covering a wide range of topics and interests. Whether you're passionate about technology, art, science, literature, or any other field, you'll find an abundance of articles that cater to your specific interests.
        </p>
        <p>
          Beyond being a platform for consuming content, Scriblio places great emphasis on fostering meaningful interactions and discussions among its users. We believe that the true value of knowledge and ideas lies in the exchange and sharing of insights. Therefore, we encourage our community members to actively participate in conversations, leave thoughtful comments, and engage in respectful debates.
        </p>
        <p>
          As an aspiring writer, Scriblio provides you with a unique opportunity to showcase your talent and gain recognition within a supportive community. You can publish your own articles, essays, and stories, allowing others to engage with your work and provide feedback. Additionally, you can connect with like-minded individuals, collaborate on projects, and even establish professional relationships.
        </p>
        <p>
          Join us at Scriblio and become a part of a thriving community of passionate readers and writers. Immerse yourself in captivating content, engage in stimulating discussions, and embark on a journey of intellectual exploration. Together, let's create a space where knowledge, creativity, and collaboration flourish.
        </p>
      </section>

      <section class="developer-info">
      <p>Designed and Developed by Raushan Sharma</p>
      
      </section>
      <p> <%= aboutContent %> </p>
</div>
  


    
<%- include("partials/footer"); -%>
