<%- include("partials/header"); -%>

<link rel="stylesheet" href="css/contact.css">

<header>
  <h1 class="page-title">Welcome to Scriblio's contact page</h1>
  <h4 class="page-subtitle">Give you feedback about my page</h4>
</header>
<div class="heading-primary" data-aos="fade-up">Contact us <i class="fa-regular fa-envelope"></i></div>
<div class="form-container">
    <form action="/contact" method="post" class="form"><i class="fa-dark fa-paper-plane-top"></i>
    <input type="text" name="name" class="form-control" placeholder="Name">
    <input type="email" name="email" class="form-control" placeholder="email:abc@example.com" required>
    <textarea name="message" id="" class="form-control message" placeholder="write your message here">
        
    </textarea>
    <button type="submit" class="btn btn-primary">Send <i class="fa-solid fa-paper-plane"></i></button>
    
    </form>
</div>
    <p> <%= contactContent %> </p>
<%- include("partials/footer"); -%>
