<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include("partials/resource") -%>
    <link rel="stylesheet" href="css/loginStyle.css">
</head>
<body>
<div class="login-container">
    <h1>Login </h1>
    <form id="loginForm" action="/login" method="post">

        <div class="input-field-container">
            <input class="input-field" type="email" id="email" name="username" placeholder="Email" required>
        </div>
        <div class="input-field-container">
            <input class="input-field" type="password" id="password" name="password" placeholder="Enter password">
        </div>
        
        
        <button type="submit" id="submitButton" class="margin-top">Login</button> <p></p>
        <p class="login-link">Don't have any account? <a href="/register">Signup</a></p>
        <p><a href="#">Forget password?</a></p>
        <a href="/auth/google" role="button" class="google-button"><i class="fa-brands fa-google"></i> Login with google</a>
    </form>
</div>  
</body>
</html>