<%- include("partials/header"); -%>
<link rel="stylesheet" href="css/about.css">

<header>
  <h1 class="page-title"><%=title%></h1>
  <p></p>
</header>
<section class="content">
  <%=content%>
</section>

<%- include("partials/footer"); -%>
