/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .about-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h4, p {
    margin-top: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #b7c7bc;
    color: #fff;
    padding: 20px;
  }
  
  .page-title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .page-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  /* Content Section Styles */
  .content {
    margin: 3rem 0;
    letter-spacing: 1px;
    
  }
  .content h2, .content p{
    margin-bottom: 1.5rem;
  }
  
  /* Developer Info Section Styles */
  .developer-info {
    padding: 20px;

  }
  .developer-info p{
    text-align: center;
  }

  @media (max-width: 600px) {
    .about-container{
      width: 90%;
    }
    
  }
  
  


  
  
  
  
  