.page-heading{
    margin: 3rem 0;
    margin-bottom: 4rem;
    text-align: center;
    color: rgb(75, 75, 75);
}

.page-container{
    width: 80%;
    margin: 3rem auto;


}
.contact-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.form-container{
    width: 47%;
}
.address{
    width: 40%;
    color: rgb(75, 75, 75);
}
.form-control{
    margin-bottom: 1rem;
}

.form-control:focus{
    box-shadow: none;
    outline: 1px solid rgb(67, 67, 228);
}
.message{
    height: 150px;
}
.btn{
    margin: 1rem 0;
    margin-bottom: 3rem;
}
.margin-3rem{
    margin-right: 3rem;
    font-size: 1.5rem;
}
.connect{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
hr{
    border: none;
    border-top: 2px solid rgb(104, 98, 98);
}
.socia{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
    text-align: center;
    height: 3rem;
}
.roww{
   
}
.round-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(214, 214, 214);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.round-logo:hover{
    filter: brightness(.9);
}
.socia a{
    text-decoration: none;
    text-decoration-style: none;
    color: #0077ff;

}
@media (max-width: 600px){
    .form-container{
        width: 100%;
    }
    .address{
        
        width: 100%
    }
    .btn{
        margin-right: 5%;
    }
}