
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 212, 212) !important;
}

.signup-container, .login-container{
  border-radius: 8px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 4% 4%;
  width: 400px;
  margin-bottom: 2rem;
  /* max-width: 100%; */
}
.signup-container h1, .login-container h1{
  color: grey;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
#signupForm, #loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-container{
  margin-top: 4rem;
}

#submitButton{
  background-color: #0077b5;
  color: white;
}
.message{
  color: red;
}



#eyeButton {
  position: relative;
  top: -45px;
  left: 130px;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.google-button, #submitButton {
  text-align: center;
  cursor: pointer;
  padding: 8px 32px;
  border-style: none;
  border-radius: 8px;
 
  background: var(--color-primary);

  color: white;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}
.google-button:hover, #submitButton:hover{
  color: white;
  text-decoration: none;
  background: #b94704;
}




.fa-google {
    color: #ffa700;
  margin-right: 10px;
}
.input-field{
 border: 1px solid lightgray;
}
.input-field#confirmPassword{
  margin-bottom: 0;
}
.input-field:hover{
  outline: 1px solid #afafaf;
  background-color: #f1f1f1;
}
.input-field:focus{
  outline: 1px solid #c2c2c2;
  background-color: #e0dfdf;
}

.input-field, #submitButton, .google-button{
  width: 325px;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px 16px;
}

.input-field-container{
    padding: 4px;
    margin-bottom: 12px;
}

.margin-top{
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .signup-container, .login-container{
    border-radius: 0px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 4% 4%;
    width: 100%;
    
  }
  body{
    background-color: white !important;
  }
}

  
  