.page-container{
    
    width: 900px;
    max-width: 90%;
    margin: 3rem auto;
}
.v-card{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
}
.sidebar{
    width: 300px;

}
.content-after-sidebar{
    width: 600px;
}
#image-preview img, .blog-card img{
    width: 150px !important;
    height: 150px !important;
    overflow: hidden;
}
#image-preview img{
    border-radius: 50%;
}
.edit-info form{
    display: flex;
    flex-direction: column;
}
.edit-info{
    margin-top: 2rem;
}
.hidden{
    display: none;
}
.blog-card{
    background-color: rgb(247, 247, 247);
    padding: 1%;
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}
.fa-trash{
    cursor: pointer;
}
.fa-trash:hover{
    scale: 1.2;
    filter: brightness(.8);
}
.save-pic-btn{
    margin-top: 1rem;
}
textarea{
    width: 100%;
}
input{
    width: 100%;
}
@media  (max-width: 600px){
    .v-card{
        display: block;
        gap: 0;
        width: 90%;
        margin: auto;
    }
    .sidebar{
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

    }
    .content-after-sidebar{
        width: 75%;
        display: block;
        margin: 0 auto;
    }
}