:root{
	--color-primary: #cf550d;
	--color-secondry: #fff;
	--color-ternary: #537FE7;
    --color-red: rgb(161, 36, 36);
}
::selection{
	color: white;
	background-color: green;
}

body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	background-color: var(--color-secondry);
}
.nav-bar{
	width: 86%;
	margin: 0 auto;
}
.nav-container{
	background-color: white;
	position: relative;
	/* background-color: var(--color-primary); */
}
.nav-container::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px; /* Adjust the height of the shadow as desired */
	background-color: rgba(0, 0, 0, 0.1); /* Adjust the shadow color and transparency as desired */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as desired */
  }
.nav-link{
	/* text-decoration: none; */
	color: rgb(0, 0, 0) !important;
}
.nav-link:hover{
	background-color: rgb(224, 224, 224) !important;
}
.nav-item, .navbar-brand div{
	padding: 0 1rem;
    letter-spacing: 2px;
}
.navbar-brand{
    cursor: auto;
}
.nav-link{
	font-size: .92rem;
    letter-spacing: 3px;
}

.logo {
	font-family: "Verdana", sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #002bff; /* Deep blue color */
	text-transform: uppercase;
	position: relative;
  }
  
  .logo::before {
	content: "S";
	position: absolute;
	left: -5px;
	top: -2px;
	font-size: 30px;
	font-weight: bold;
	color: #ff1493; /* Pink color */
	transform: rotate(-10deg);
  }
  
  .logo::after {
	content: "io";
	position: absolute;
	right: -2px;
	bottom: -1px;
	font-size: 18px;
	font-weight: bold;
	color: #ff1493; /* Pink color */
  }
  
  

  

@media (max-width: 600px)
{
	.nav-bar{
		width: 100%;
		/* margin: 0 auto; */
	}
}


