html {
  min-height: 100%;
  position: relative;

}
body{
  background-color: var(--color-secondry);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.post-heading {
  position: relative;
}
.post-heading:after {
  content: "";
  position: absolute;
  left: 2.5%;
  bottom: -5px;
  width: 90%;
  height: 3px; /* Adjust the height of the line as needed */
  background-color: #000; /* Adjust the color of the line as needed */
}


#header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  min-height: 65vh;
}
#header .hero-text{
  /* color: #c30f3c; */
  padding-right: 2%;
  width: 49%;
}
#header .hero-img{
  width: 90%;
  position: relative;
  right: 0;
  left: 5%;
}
.main-heading{
  font-family: 'gt-super';
  font-size: 106px;
  line-height: 95px;
  text-align: start;
  margin-bottom: 48px;
  font-weight: 400;
  letter-spacing: -5.3px;
}
.intro{
  margin: 48px 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  
  
  
}
#header .hero-image{
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right !important;
  width: 49%;
}

.explore-btn{
  margin-top: 36px;
  max-width: 200px;
  border-style: none;
  border-radius: 30px;
  padding: 8px 36px;
  background-color: var(--color-primary);
  color: white;
}

#posts{
  margin-top: 2rem;
}
.compose{
  z-index: 999;
  border-radius: 40px;
  color: var(--color-red);
  border: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 24px;
  cursor: pointer;
  position: fixed;
  right: 5%;
  bottom: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}
.compose:hover{
  filter: brightness(.9);
}
.compose span{

  padding-right: 10px;
  font-size: 1rem;

}
.footer-padding{
  padding: 2px;
  background-color: var(--color-primary);
  bottom: 0;
  width: 100%;
}
.footer{
  text-align: center;
  color: white;
}
.container-fluid{

  width: 100% !important;
  padding: 0 2.5%;
  margin-bottom: 5%;
}
.card{
  color: black;
  border: 4px solid #e0dede;
  border-radius: 4px;
  width: 22rem;
  /* min-height: 15rem; */
  /* height: 472px; */
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.card:hover{
  filter: brightness(.9);
}
.post-container{
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  
}

.user-profile{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: red;
}

.post{

}
.post::after{
  content: "";
  position: absolute;
  left: -0%;
  /* right: -2.5%; */
  height: 2px;
  width: 100%;
  background-color: #aca4a4;
}
.post hr{
  width: 100%;
}
/* social response */
.social-response{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.like-option, .comment-option, .share-option{
  font-size: 1.5rem;
  cursor: pointer;
}
.color-red{
  color: rgb(255, 0, 0);
}
/* social response ends */
/* // comment section style  */
.comment-container{
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: #b5d1d1;
}
.add-comment input{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
.add-comment input:focus{
  outline: none;
}
.comment-body{
  width: 700px;
  max-width: 100%;
}
.comment-container{

}
.comment-body{
  padding: 2%;
  width: inherit;
  margin-bottom: 1rem;
  transition: opacity 0.3s ease;
}
.comment-replies{
  padding-left: 5%;
}
.add-reply input{
  width: 600px;
  max-width: 100%;
}
.add-reply input,.add-comment input{
  padding: 4px;
  border: 1px solid grey;
  border-radius: 8px;
}
.comment img, .comment-reply img{
  width: 24px;
  border-radius: 50%;
  margin-right: 1rem;
}
.comment-honer{
  font-size: 1.3rem;
  font-weight: 600;
}
.reply-honer{
  font-size: 1rem;
  font-weight: 600;
}
.comment-content, .reply-content{
  margin-left: 2rem;
}
.reply-link{
  margin-right: 1rem;
  color: grey;
  cursor: pointer;
}
.see-more-link{
  margin-left: 1rems;
  cursor: pointer;
  color: grey;
}
.hidden{
  opacity: 0;
  display: none;
}
#page-error{
  position: fixed;
  top: 50px;
  display: block;
  width: 80%;
  max-width: 100%;
  margin: auto;
  background-color: rgba(249, 237, 237, .8);
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

/* /// comment section style ends */
@media (max-width: 600px)
{
  #header .hero-img{
    position:static;
  }
	.compose{
    padding: 8px 32px;
    /* padding-bottom: 8px; */
    font-size: 1rem;
  }
  .compose span{
    font-size: 1rem;
  }
  #header .hero-text{
    width: 90%;
  }
  #header .hero-image{
    width: 100%;
  }
}


